<!DOCTYPE html>

html lang="en"
    head
        title
            - ${data.title}
        link rel="stylesheet" type="text/css" href="/public/stylesheets/overlays.css"
        <!-- link rel="icon" href="/public/favicon.png" sizes="64x64" type="image/png"
        meta charset="utf-8"
        meta name="lang" content="enUS"
        meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"
        meta name="author" content="Cher Stewart" -->
    body class=data.id
        layout-placeholder name="body"
