@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Kristi|Montserrat|Raleway);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

@-webkit-keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@-webkit-keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 415px;
    top: 607px; }
  25.625%, 43.75% {
    left: 159px;
    top: 159px; }
  44.375%, 62.5% {
    left: 287px;
    top: 799px; }
  63.125%, 81.25% {
    left: 927px;
    top: 799px; }
  81.875%, 100% {
    left: 927px;
    top: 415px; } }

@keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 415px;
    top: 607px; }
  25.625%, 43.75% {
    left: 159px;
    top: 159px; }
  44.375%, 62.5% {
    left: 287px;
    top: 799px; }
  63.125%, 81.25% {
    left: 927px;
    top: 799px; }
  81.875%, 100% {
    left: 927px;
    top: 415px; } }

@-webkit-keyframes fadeboxes {
  to {
    opacity: 0; } }

@keyframes fadeboxes {
  to {
    opacity: 0; } }

@-webkit-keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

@keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

.background {
  background-size: 64px 64px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 100%);
  background-position: top left;
  height: 100vh; }
  .background-dot-highlight {
    position: absolute;
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    opacity: 0; }
    .background-dot-highlight[data-index="0"] {
      left: 287px;
      top: 287px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 3210ms;
              animation-delay: 3210ms; }
    .background-dot-highlight[data-index="1"] {
      left: 223px;
      top: 799px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 4308ms;
              animation-delay: 4308ms; }
    .background-dot-highlight[data-index="2"] {
      left: 799px;
      top: 415px;
      -webkit-animation: fadepoints 17s ease-in-out infinite;
              animation: fadepoints 17s ease-in-out infinite;
      -webkit-animation-delay: 3834ms;
              animation-delay: 3834ms; }
    .background-dot-highlight[data-index="3"] {
      left: 1055px;
      top: 351px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 181ms;
              animation-delay: 181ms; }
    .background-dot-highlight[data-index="4"] {
      left: 95px;
      top: 415px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 2375ms;
              animation-delay: 2375ms; }
    .background-dot-highlight[data-index="5"] {
      left: 223px;
      top: 351px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 4737ms;
              animation-delay: 4737ms; }
    .background-dot-highlight[data-index="6"] {
      left: 1055px;
      top: 671px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 390ms;
              animation-delay: 390ms; }
    .background-dot-highlight[data-index="7"] {
      left: 543px;
      top: 351px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 2570ms;
              animation-delay: 2570ms; }
    .background-dot-highlight[data-index="8"] {
      left: 671px;
      top: 415px;
      -webkit-animation: fadepoints 22s ease-in-out infinite;
              animation: fadepoints 22s ease-in-out infinite;
      -webkit-animation-delay: 143ms;
              animation-delay: 143ms; }
    .background-dot-highlight[data-index="9"] {
      left: 1055px;
      top: 351px;
      -webkit-animation: fadepoints 15s ease-in-out infinite;
              animation: fadepoints 15s ease-in-out infinite;
      -webkit-animation-delay: 967ms;
              animation-delay: 967ms; }
    .background-dot-highlight[data-index="10"] {
      left: 223px;
      top: 607px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 3686ms;
              animation-delay: 3686ms; }
    .background-dot-highlight[data-index="11"] {
      left: 159px;
      top: 287px;
      -webkit-animation: fadepoints 17s ease-in-out infinite;
              animation: fadepoints 17s ease-in-out infinite;
      -webkit-animation-delay: 4215ms;
              animation-delay: 4215ms; }
    .background-dot-highlight[data-index="12"] {
      left: 1055px;
      top: 287px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 4863ms;
              animation-delay: 4863ms; }
    .background-dot-highlight[data-index="13"] {
      left: 223px;
      top: 159px;
      -webkit-animation: fadepoints 6s ease-in-out infinite;
              animation: fadepoints 6s ease-in-out infinite;
      -webkit-animation-delay: 4654ms;
              animation-delay: 4654ms; }
    .background-dot-highlight[data-index="14"] {
      left: 479px;
      top: 479px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 4189ms;
              animation-delay: 4189ms; }
    .background-dot-highlight[data-index="15"] {
      left: 287px;
      top: 735px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 2242ms;
              animation-delay: 2242ms; }
    .background-dot-highlight[data-index="16"] {
      left: 543px;
      top: 543px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 4248ms;
              animation-delay: 4248ms; }
    .background-dot-highlight[data-index="17"] {
      left: 991px;
      top: 415px;
      -webkit-animation: fadepoints 6s ease-in-out infinite;
              animation: fadepoints 6s ease-in-out infinite;
      -webkit-animation-delay: 4561ms;
              animation-delay: 4561ms; }
    .background-dot-highlight[data-index="18"] {
      left: 991px;
      top: 607px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 3377ms;
              animation-delay: 3377ms; }
    .background-dot-highlight[data-index="19"] {
      left: 735px;
      top: 799px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 1759ms;
              animation-delay: 1759ms; }
    .background-dot-highlight[data-index="20"] {
      left: 95px;
      top: 607px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 1509ms;
              animation-delay: 1509ms; }
    .background-dot-highlight[data-index="21"] {
      left: 95px;
      top: 415px;
      -webkit-animation: fadepoints 6s ease-in-out infinite;
              animation: fadepoints 6s ease-in-out infinite;
      -webkit-animation-delay: 3982ms;
              animation-delay: 3982ms; }
    .background-dot-highlight[data-index="22"] {
      left: 95px;
      top: 735px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 606ms;
              animation-delay: 606ms; }
    .background-dot-highlight[data-index="23"] {
      left: 95px;
      top: 543px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 2591ms;
              animation-delay: 2591ms; }
    .background-dot-highlight[data-index="24"] {
      left: 927px;
      top: 159px;
      -webkit-animation: fadepoints 10s ease-in-out infinite;
              animation: fadepoints 10s ease-in-out infinite;
      -webkit-animation-delay: 2029ms;
              animation-delay: 2029ms; }
    .background-dot-highlight[data-index="25"] {
      left: 95px;
      top: 223px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 3678ms;
              animation-delay: 3678ms; }
    .background-dot-highlight[data-index="26"] {
      left: 159px;
      top: 223px;
      -webkit-animation: fadepoints 16s ease-in-out infinite;
              animation: fadepoints 16s ease-in-out infinite;
      -webkit-animation-delay: 3213ms;
              animation-delay: 3213ms; }
    .background-dot-highlight[data-index="27"] {
      left: 159px;
      top: 351px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 2614ms;
              animation-delay: 2614ms; }
    .background-dot-highlight[data-index="28"] {
      left: 863px;
      top: 671px;
      -webkit-animation: fadepoints 18s ease-in-out infinite;
              animation: fadepoints 18s ease-in-out infinite;
      -webkit-animation-delay: 4485ms;
              animation-delay: 4485ms; }
    .background-dot-highlight[data-index="29"] {
      left: 479px;
      top: 415px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 3148ms;
              animation-delay: 3148ms; }
    .background-dot-highlight[data-index="30"] {
      left: 991px;
      top: 351px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 4774ms;
              animation-delay: 4774ms; }
    .background-dot-highlight[data-index="31"] {
      left: 351px;
      top: 479px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 2530ms;
              animation-delay: 2530ms; }
    .background-dot-highlight[data-index="32"] {
      left: 607px;
      top: 415px;
      -webkit-animation: fadepoints 23s ease-in-out infinite;
              animation: fadepoints 23s ease-in-out infinite;
      -webkit-animation-delay: 4757ms;
              animation-delay: 4757ms; }
    .background-dot-highlight[data-index="33"] {
      left: 735px;
      top: 799px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 1961ms;
              animation-delay: 1961ms; }
    .background-dot-highlight[data-index="34"] {
      left: 351px;
      top: 799px;
      -webkit-animation: fadepoints 16s ease-in-out infinite;
              animation: fadepoints 16s ease-in-out infinite;
      -webkit-animation-delay: 580ms;
              animation-delay: 580ms; }
    .background-dot-highlight[data-index="35"] {
      left: 991px;
      top: 543px;
      -webkit-animation: fadepoints 10s ease-in-out infinite;
              animation: fadepoints 10s ease-in-out infinite;
      -webkit-animation-delay: 4243ms;
              animation-delay: 4243ms; }
  .background-square {
    fill: none;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 3px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: outline 30s linear infinite;
            animation: outline 30s linear infinite;
    opacity: 1; }
    .background-square-container {
      position: absolute;
      left: 31px;
      top: 31px;
      -webkit-animation: movebox 160s linear infinite;
              animation: movebox 160s linear infinite; }
    .background-square-filled {
      position: absolute;
      fill: rgba(255, 255, 255, 0.3); }
      .background-square-filled[data-index="0"] {
        left: 351px;
        top: 287px;
        opacity: 0.67;
        -webkit-animation: fadeboxes 24s ease-out alternate infinite;
                animation: fadeboxes 24s ease-out alternate infinite; }
      .background-square-filled[data-index="1"] {
        left: 543px;
        top: 735px;
        opacity: 0.51;
        -webkit-animation: fadeboxes 15s ease-out alternate infinite;
                animation: fadeboxes 15s ease-out alternate infinite; }
      .background-square-filled[data-index="2"] {
        left: 287px;
        top: 287px;
        opacity: 0.02;
        -webkit-animation: fadeboxes 16s ease-out alternate infinite;
                animation: fadeboxes 16s ease-out alternate infinite; }
      .background-square-filled[data-index="3"] {
        left: 479px;
        top: 95px;
        opacity: 0.64;
        -webkit-animation: fadeboxes 22s ease-out alternate infinite;
                animation: fadeboxes 22s ease-out alternate infinite; }
      .background-square-filled[data-index="4"] {
        left: 735px;
        top: 479px;
        opacity: 0.44;
        -webkit-animation: fadeboxes 11s ease-out alternate infinite;
                animation: fadeboxes 11s ease-out alternate infinite; }
      .background-square-filled[data-index="5"] {
        left: 1055px;
        top: 543px;
        opacity: 0.06;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="6"] {
        left: 159px;
        top: 607px;
        opacity: 0.63;
        -webkit-animation: fadeboxes 20s ease-out alternate infinite;
                animation: fadeboxes 20s ease-out alternate infinite; }
      .background-square-filled[data-index="7"] {
        left: 479px;
        top: 95px;
        opacity: 0.5;
        -webkit-animation: fadeboxes 13s ease-out alternate infinite;
                animation: fadeboxes 13s ease-out alternate infinite; }
      .background-square-filled[data-index="8"] {
        left: 735px;
        top: 799px;
        opacity: 0.31;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="9"] {
        left: 735px;
        top: 543px;
        opacity: 0.68;
        -webkit-animation: fadeboxes 10s ease-out alternate infinite;
                animation: fadeboxes 10s ease-out alternate infinite; }
      .background-square-filled[data-index="10"] {
        left: 543px;
        top: 671px;
        opacity: 0.03;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="11"] {
        left: 927px;
        top: 479px;
        opacity: 0.57;
        -webkit-animation: fadeboxes 24s ease-out alternate infinite;
                animation: fadeboxes 24s ease-out alternate infinite; }
      .background-square-filled[data-index="12"] {
        left: 991px;
        top: 415px;
        opacity: 0.09;
        -webkit-animation: fadeboxes 20s ease-out alternate infinite;
                animation: fadeboxes 20s ease-out alternate infinite; }
      .background-square-filled[data-index="13"] {
        left: 159px;
        top: 95px;
        opacity: 0.04;
        -webkit-animation: fadeboxes 20s ease-out alternate infinite;
                animation: fadeboxes 20s ease-out alternate infinite; }
      .background-square-filled[data-index="14"] {
        left: 479px;
        top: 735px;
        opacity: 0.11;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="15"] {
        left: 671px;
        top: 671px;
        opacity: 0.62;
        -webkit-animation: fadeboxes 10s ease-out alternate infinite;
                animation: fadeboxes 10s ease-out alternate infinite; }
      .background-square-filled[data-index="16"] {
        left: 479px;
        top: 351px;
        opacity: 0.22;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="17"] {
        left: 543px;
        top: 479px;
        opacity: 0.19;
        -webkit-animation: fadeboxes 22s ease-out alternate infinite;
                animation: fadeboxes 22s ease-out alternate infinite; }
      .background-square-filled[data-index="18"] {
        left: 351px;
        top: 735px;
        opacity: 0.48;
        -webkit-animation: fadeboxes 14s ease-out alternate infinite;
                animation: fadeboxes 14s ease-out alternate infinite; }
      .background-square-filled[data-index="19"] {
        left: 863px;
        top: 159px;
        opacity: 0.61;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="20"] {
        left: 479px;
        top: 735px;
        opacity: 0.26;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="21"] {
        left: 543px;
        top: 351px;
        opacity: 0.64;
        -webkit-animation: fadeboxes 23s ease-out alternate infinite;
                animation: fadeboxes 23s ease-out alternate infinite; }
      .background-square-filled[data-index="22"] {
        left: 543px;
        top: 159px;
        opacity: 0.57;
        -webkit-animation: fadeboxes 13s ease-out alternate infinite;
                animation: fadeboxes 13s ease-out alternate infinite; }
      .background-square-filled[data-index="23"] {
        left: 991px;
        top: 223px;
        opacity: 0.57;
        -webkit-animation: fadeboxes 24s ease-out alternate infinite;
                animation: fadeboxes 24s ease-out alternate infinite; }
      .background-square-filled[data-index="24"] {
        left: 351px;
        top: 287px;
        opacity: 0.62;
        -webkit-animation: fadeboxes 7s ease-out alternate infinite;
                animation: fadeboxes 7s ease-out alternate infinite; }
      .background-square-filled[data-index="25"] {
        left: 543px;
        top: 671px;
        opacity: 0.51;
        -webkit-animation: fadeboxes 14s ease-out alternate infinite;
                animation: fadeboxes 14s ease-out alternate infinite; }

body {
  background-color: #00FF00;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Amatic SC', sans-serif; }
