@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Kristi|Montserrat|Raleway);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

@font-face {
  font-family: 'Jaapokki Enchance';
  src: url(/public/fonts/Jaapokki/enchance/web/jaapokkienchance-regular.woff) format("woff"), url(/public/fonts/Jaapokki/enchance/web/jaapokkienchance-regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Jaapokki Subtract';
  src: url(/public/fonts/Jaapokki/subtract/web/jaapokkisubtract-regular.woff) format("woff"), url(/public/fonts/Jaapokki/subtract/web/jaapokkisubtract-regular.ttf) format("ttf");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@-webkit-keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 991px;
    top: 351px; }
  25.625%, 43.75% {
    left: 863px;
    top: 735px; }
  44.375%, 62.5% {
    left: 351px;
    top: 607px; }
  63.125%, 81.25% {
    left: 671px;
    top: 287px; }
  81.875%, 100% {
    left: 479px;
    top: 415px; } }

@keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 991px;
    top: 351px; }
  25.625%, 43.75% {
    left: 863px;
    top: 735px; }
  44.375%, 62.5% {
    left: 351px;
    top: 607px; }
  63.125%, 81.25% {
    left: 671px;
    top: 287px; }
  81.875%, 100% {
    left: 479px;
    top: 415px; } }

@-webkit-keyframes fadeboxes {
  to {
    opacity: 0; } }

@keyframes fadeboxes {
  to {
    opacity: 0; } }

@-webkit-keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

@keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

.background {
  background-size: 64px 64px;
  background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 100%);
  background-position: top left;
  height: 100vh; }
  .background-dot-highlight {
    position: absolute;
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    opacity: 0; }
    .background-dot-highlight[data-index="0"] {
      left: 1055px;
      top: 159px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 59ms;
              animation-delay: 59ms; }
    .background-dot-highlight[data-index="1"] {
      left: 351px;
      top: 543px;
      -webkit-animation: fadepoints 10s ease-in-out infinite;
              animation: fadepoints 10s ease-in-out infinite;
      -webkit-animation-delay: 2637ms;
              animation-delay: 2637ms; }
    .background-dot-highlight[data-index="2"] {
      left: 991px;
      top: 95px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 701ms;
              animation-delay: 701ms; }
    .background-dot-highlight[data-index="3"] {
      left: 607px;
      top: 287px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 14ms;
              animation-delay: 14ms; }
    .background-dot-highlight[data-index="4"] {
      left: 223px;
      top: 351px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 3901ms;
              animation-delay: 3901ms; }
    .background-dot-highlight[data-index="5"] {
      left: 95px;
      top: 223px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 1150ms;
              animation-delay: 1150ms; }
    .background-dot-highlight[data-index="6"] {
      left: 1055px;
      top: 799px;
      -webkit-animation: fadepoints 14s ease-in-out infinite;
              animation: fadepoints 14s ease-in-out infinite;
      -webkit-animation-delay: 2087ms;
              animation-delay: 2087ms; }
    .background-dot-highlight[data-index="7"] {
      left: 927px;
      top: 543px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 3913ms;
              animation-delay: 3913ms; }
    .background-dot-highlight[data-index="8"] {
      left: 991px;
      top: 799px;
      -webkit-animation: fadepoints 11s ease-in-out infinite;
              animation: fadepoints 11s ease-in-out infinite;
      -webkit-animation-delay: 3015ms;
              animation-delay: 3015ms; }
    .background-dot-highlight[data-index="9"] {
      left: 479px;
      top: 95px;
      -webkit-animation: fadepoints 10s ease-in-out infinite;
              animation: fadepoints 10s ease-in-out infinite;
      -webkit-animation-delay: 1961ms;
              animation-delay: 1961ms; }
    .background-dot-highlight[data-index="10"] {
      left: 607px;
      top: 799px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 3658ms;
              animation-delay: 3658ms; }
    .background-dot-highlight[data-index="11"] {
      left: 287px;
      top: 351px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 4763ms;
              animation-delay: 4763ms; }
    .background-dot-highlight[data-index="12"] {
      left: 95px;
      top: 479px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 3950ms;
              animation-delay: 3950ms; }
    .background-dot-highlight[data-index="13"] {
      left: 671px;
      top: 287px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 3166ms;
              animation-delay: 3166ms; }
    .background-dot-highlight[data-index="14"] {
      left: 991px;
      top: 607px;
      -webkit-animation: fadepoints 14s ease-in-out infinite;
              animation: fadepoints 14s ease-in-out infinite;
      -webkit-animation-delay: 2971ms;
              animation-delay: 2971ms; }
    .background-dot-highlight[data-index="15"] {
      left: 863px;
      top: 159px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 52ms;
              animation-delay: 52ms; }
    .background-dot-highlight[data-index="16"] {
      left: 1055px;
      top: 223px;
      -webkit-animation: fadepoints 16s ease-in-out infinite;
              animation: fadepoints 16s ease-in-out infinite;
      -webkit-animation-delay: 1748ms;
              animation-delay: 1748ms; }
    .background-dot-highlight[data-index="17"] {
      left: 991px;
      top: 351px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 427ms;
              animation-delay: 427ms; }
    .background-dot-highlight[data-index="18"] {
      left: 735px;
      top: 95px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 2941ms;
              animation-delay: 2941ms; }
    .background-dot-highlight[data-index="19"] {
      left: 95px;
      top: 607px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 246ms;
              animation-delay: 246ms; }
    .background-dot-highlight[data-index="20"] {
      left: 607px;
      top: 735px;
      -webkit-animation: fadepoints 6s ease-in-out infinite;
              animation: fadepoints 6s ease-in-out infinite;
      -webkit-animation-delay: 1094ms;
              animation-delay: 1094ms; }
    .background-dot-highlight[data-index="21"] {
      left: 159px;
      top: 159px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 4666ms;
              animation-delay: 4666ms; }
    .background-dot-highlight[data-index="22"] {
      left: 159px;
      top: 607px;
      -webkit-animation: fadepoints 17s ease-in-out infinite;
              animation: fadepoints 17s ease-in-out infinite;
      -webkit-animation-delay: 2705ms;
              animation-delay: 2705ms; }
    .background-dot-highlight[data-index="23"] {
      left: 863px;
      top: 543px;
      -webkit-animation: fadepoints 18s ease-in-out infinite;
              animation: fadepoints 18s ease-in-out infinite;
      -webkit-animation-delay: 3555ms;
              animation-delay: 3555ms; }
    .background-dot-highlight[data-index="24"] {
      left: 799px;
      top: 799px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 3105ms;
              animation-delay: 3105ms; }
    .background-dot-highlight[data-index="25"] {
      left: 927px;
      top: 351px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 4497ms;
              animation-delay: 4497ms; }
    .background-dot-highlight[data-index="26"] {
      left: 927px;
      top: 607px;
      -webkit-animation: fadepoints 11s ease-in-out infinite;
              animation: fadepoints 11s ease-in-out infinite;
      -webkit-animation-delay: 4933ms;
              animation-delay: 4933ms; }
    .background-dot-highlight[data-index="27"] {
      left: 415px;
      top: 607px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 1431ms;
              animation-delay: 1431ms; }
    .background-dot-highlight[data-index="28"] {
      left: 351px;
      top: 159px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 4321ms;
              animation-delay: 4321ms; }
    .background-dot-highlight[data-index="29"] {
      left: 927px;
      top: 287px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 3634ms;
              animation-delay: 3634ms; }
    .background-dot-highlight[data-index="30"] {
      left: 863px;
      top: 671px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 397ms;
              animation-delay: 397ms; }
    .background-dot-highlight[data-index="31"] {
      left: 223px;
      top: 543px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 3012ms;
              animation-delay: 3012ms; }
    .background-dot-highlight[data-index="32"] {
      left: 991px;
      top: 415px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 192ms;
              animation-delay: 192ms; }
    .background-dot-highlight[data-index="33"] {
      left: 799px;
      top: 543px;
      -webkit-animation: fadepoints 14s ease-in-out infinite;
              animation: fadepoints 14s ease-in-out infinite;
      -webkit-animation-delay: 641ms;
              animation-delay: 641ms; }
    .background-dot-highlight[data-index="34"] {
      left: 799px;
      top: 479px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 2609ms;
              animation-delay: 2609ms; }
    .background-dot-highlight[data-index="35"] {
      left: 863px;
      top: 607px;
      -webkit-animation: fadepoints 21s ease-in-out infinite;
              animation: fadepoints 21s ease-in-out infinite;
      -webkit-animation-delay: 4514ms;
              animation-delay: 4514ms; }
  .background-square {
    fill: none;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 3px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: outline 30s linear infinite;
            animation: outline 30s linear infinite;
    opacity: 1; }
    .background-square-container {
      position: absolute;
      left: 31px;
      top: 31px;
      -webkit-animation: movebox 160s linear infinite;
              animation: movebox 160s linear infinite; }
    .background-square-filled {
      position: absolute;
      fill: rgba(255, 255, 255, 0.3); }
      .background-square-filled[data-index="0"] {
        left: 1055px;
        top: 735px;
        opacity: 0.45;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="1"] {
        left: 95px;
        top: 159px;
        opacity: 0.13;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="2"] {
        left: 223px;
        top: 607px;
        opacity: 0.67;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="3"] {
        left: 927px;
        top: 543px;
        opacity: 0.26;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="4"] {
        left: 927px;
        top: 159px;
        opacity: 0.06;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="5"] {
        left: 223px;
        top: 543px;
        opacity: 0.27;
        -webkit-animation: fadeboxes 10s ease-out alternate infinite;
                animation: fadeboxes 10s ease-out alternate infinite; }
      .background-square-filled[data-index="6"] {
        left: 1055px;
        top: 607px;
        opacity: 0.62;
        -webkit-animation: fadeboxes 15s ease-out alternate infinite;
                animation: fadeboxes 15s ease-out alternate infinite; }
      .background-square-filled[data-index="7"] {
        left: 479px;
        top: 543px;
        opacity: 0.62;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="8"] {
        left: 415px;
        top: 799px;
        opacity: 0.14;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="9"] {
        left: 159px;
        top: 95px;
        opacity: 0.09;
        -webkit-animation: fadeboxes 7s ease-out alternate infinite;
                animation: fadeboxes 7s ease-out alternate infinite; }
      .background-square-filled[data-index="10"] {
        left: 159px;
        top: 671px;
        opacity: 0.56;
        -webkit-animation: fadeboxes 12s ease-out alternate infinite;
                animation: fadeboxes 12s ease-out alternate infinite; }
      .background-square-filled[data-index="11"] {
        left: 1055px;
        top: 735px;
        opacity: 0.67;
        -webkit-animation: fadeboxes 16s ease-out alternate infinite;
                animation: fadeboxes 16s ease-out alternate infinite; }
      .background-square-filled[data-index="12"] {
        left: 287px;
        top: 799px;
        opacity: 0.61;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="13"] {
        left: 95px;
        top: 543px;
        opacity: 0.34;
        -webkit-animation: fadeboxes 7s ease-out alternate infinite;
                animation: fadeboxes 7s ease-out alternate infinite; }
      .background-square-filled[data-index="14"] {
        left: 927px;
        top: 415px;
        opacity: 0.19;
        -webkit-animation: fadeboxes 6s ease-out alternate infinite;
                animation: fadeboxes 6s ease-out alternate infinite; }
      .background-square-filled[data-index="15"] {
        left: 543px;
        top: 287px;
        opacity: 0.68;
        -webkit-animation: fadeboxes 23s ease-out alternate infinite;
                animation: fadeboxes 23s ease-out alternate infinite; }
      .background-square-filled[data-index="16"] {
        left: 735px;
        top: 287px;
        opacity: 0.46;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="17"] {
        left: 863px;
        top: 223px;
        opacity: 0.53;
        -webkit-animation: fadeboxes 14s ease-out alternate infinite;
                animation: fadeboxes 14s ease-out alternate infinite; }
      .background-square-filled[data-index="18"] {
        left: 543px;
        top: 159px;
        opacity: 0.38;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="19"] {
        left: 607px;
        top: 543px;
        opacity: 0.13;
        -webkit-animation: fadeboxes 13s ease-out alternate infinite;
                animation: fadeboxes 13s ease-out alternate infinite; }
      .background-square-filled[data-index="20"] {
        left: 927px;
        top: 415px;
        opacity: 0.6;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="21"] {
        left: 863px;
        top: 287px;
        opacity: 0.65;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="22"] {
        left: 479px;
        top: 799px;
        opacity: 0.6;
        -webkit-animation: fadeboxes 22s ease-out alternate infinite;
                animation: fadeboxes 22s ease-out alternate infinite; }
      .background-square-filled[data-index="23"] {
        left: 1055px;
        top: 735px;
        opacity: 0.57;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="24"] {
        left: 991px;
        top: 479px;
        opacity: 0.33;
        -webkit-animation: fadeboxes 18s ease-out alternate infinite;
                animation: fadeboxes 18s ease-out alternate infinite; }
      .background-square-filled[data-index="25"] {
        left: 799px;
        top: 799px;
        opacity: 0.13;
        -webkit-animation: fadeboxes 22s ease-out alternate infinite;
                animation: fadeboxes 22s ease-out alternate infinite; }

.visualizer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

.visualizer-image {
  position: relative;
  margin-right: 2.5%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .visualizer-image img {
    position: absolute;
    width: 100%;
    height: auto; }

.visualizer .track {
  font-size: 30vh; }

body {
  background-color: #00FF00;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Amatic SC', sans-serif; }
