@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Kristi|Montserrat|Raleway);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

@-webkit-keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@keyframes outline {
  0% {
    stroke-dashoffset: 1000;
    opacity: 1; }
  16.66667% {
    stroke-dashoffset: 0;
    opacity: 1; }
  33.33333% {
    stroke-dashoffset: 1000;
    opacity: 0; }
  36.66667% {
    opacity: 0;
    stroke-dashoffset: 1000; } }

@-webkit-keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 735px;
    top: 799px; }
  25.625%, 43.75% {
    left: 543px;
    top: 287px; }
  44.375%, 62.5% {
    left: 735px;
    top: 351px; }
  63.125%, 81.25% {
    left: 351px;
    top: 351px; }
  81.875%, 100% {
    left: 735px;
    top: 351px; } }

@keyframes movebox {
  6.25% {
    left: 31px;
    top: 31px; }
  6.875%, 25% {
    left: 735px;
    top: 799px; }
  25.625%, 43.75% {
    left: 543px;
    top: 287px; }
  44.375%, 62.5% {
    left: 735px;
    top: 351px; }
  63.125%, 81.25% {
    left: 351px;
    top: 351px; }
  81.875%, 100% {
    left: 735px;
    top: 351px; } }

@-webkit-keyframes fadeboxes {
  to {
    opacity: 0; } }

@keyframes fadeboxes {
  to {
    opacity: 0; } }

@-webkit-keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

@keyframes fadepoints {
  10% {
    opacity: 1; }
  15% {
    opacity: 0; } }

.background {
  background-size: 64px 64px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 1px, transparent 2px, transparent 100%);
  background-position: top left;
  height: 100vh; }
  .background-dot-highlight {
    position: absolute;
    fill: transparent;
    stroke: white;
    stroke-width: 1px;
    opacity: 0; }
    .background-dot-highlight[data-index="0"] {
      left: 287px;
      top: 543px;
      -webkit-animation: fadepoints 11s ease-in-out infinite;
              animation: fadepoints 11s ease-in-out infinite;
      -webkit-animation-delay: 3073ms;
              animation-delay: 3073ms; }
    .background-dot-highlight[data-index="1"] {
      left: 223px;
      top: 671px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 1750ms;
              animation-delay: 1750ms; }
    .background-dot-highlight[data-index="2"] {
      left: 799px;
      top: 735px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 1160ms;
              animation-delay: 1160ms; }
    .background-dot-highlight[data-index="3"] {
      left: 1055px;
      top: 287px;
      -webkit-animation: fadepoints 22s ease-in-out infinite;
              animation: fadepoints 22s ease-in-out infinite;
      -webkit-animation-delay: 3557ms;
              animation-delay: 3557ms; }
    .background-dot-highlight[data-index="4"] {
      left: 543px;
      top: 671px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 4375ms;
              animation-delay: 4375ms; }
    .background-dot-highlight[data-index="5"] {
      left: 735px;
      top: 223px;
      -webkit-animation: fadepoints 18s ease-in-out infinite;
              animation: fadepoints 18s ease-in-out infinite;
      -webkit-animation-delay: 4303ms;
              animation-delay: 4303ms; }
    .background-dot-highlight[data-index="6"] {
      left: 607px;
      top: 671px;
      -webkit-animation: fadepoints 14s ease-in-out infinite;
              animation: fadepoints 14s ease-in-out infinite;
      -webkit-animation-delay: 4071ms;
              animation-delay: 4071ms; }
    .background-dot-highlight[data-index="7"] {
      left: 991px;
      top: 351px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 3061ms;
              animation-delay: 3061ms; }
    .background-dot-highlight[data-index="8"] {
      left: 671px;
      top: 671px;
      -webkit-animation: fadepoints 15s ease-in-out infinite;
              animation: fadepoints 15s ease-in-out infinite;
      -webkit-animation-delay: 1362ms;
              animation-delay: 1362ms; }
    .background-dot-highlight[data-index="9"] {
      left: 607px;
      top: 479px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 2917ms;
              animation-delay: 2917ms; }
    .background-dot-highlight[data-index="10"] {
      left: 223px;
      top: 159px;
      -webkit-animation: fadepoints 6s ease-in-out infinite;
              animation: fadepoints 6s ease-in-out infinite;
      -webkit-animation-delay: 2275ms;
              animation-delay: 2275ms; }
    .background-dot-highlight[data-index="11"] {
      left: 671px;
      top: 735px;
      -webkit-animation: fadepoints 18s ease-in-out infinite;
              animation: fadepoints 18s ease-in-out infinite;
      -webkit-animation-delay: 3086ms;
              animation-delay: 3086ms; }
    .background-dot-highlight[data-index="12"] {
      left: 607px;
      top: 671px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 3250ms;
              animation-delay: 3250ms; }
    .background-dot-highlight[data-index="13"] {
      left: 415px;
      top: 479px;
      -webkit-animation: fadepoints 19s ease-in-out infinite;
              animation: fadepoints 19s ease-in-out infinite;
      -webkit-animation-delay: 1265ms;
              animation-delay: 1265ms; }
    .background-dot-highlight[data-index="14"] {
      left: 607px;
      top: 223px;
      -webkit-animation: fadepoints 22s ease-in-out infinite;
              animation: fadepoints 22s ease-in-out infinite;
      -webkit-animation-delay: 1264ms;
              animation-delay: 1264ms; }
    .background-dot-highlight[data-index="15"] {
      left: 159px;
      top: 287px;
      -webkit-animation: fadepoints 9s ease-in-out infinite;
              animation: fadepoints 9s ease-in-out infinite;
      -webkit-animation-delay: 3389ms;
              animation-delay: 3389ms; }
    .background-dot-highlight[data-index="16"] {
      left: 671px;
      top: 735px;
      -webkit-animation: fadepoints 11s ease-in-out infinite;
              animation: fadepoints 11s ease-in-out infinite;
      -webkit-animation-delay: 2326ms;
              animation-delay: 2326ms; }
    .background-dot-highlight[data-index="17"] {
      left: 287px;
      top: 671px;
      -webkit-animation: fadepoints 22s ease-in-out infinite;
              animation: fadepoints 22s ease-in-out infinite;
      -webkit-animation-delay: 2952ms;
              animation-delay: 2952ms; }
    .background-dot-highlight[data-index="18"] {
      left: 479px;
      top: 543px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 2403ms;
              animation-delay: 2403ms; }
    .background-dot-highlight[data-index="19"] {
      left: 543px;
      top: 415px;
      -webkit-animation: fadepoints 17s ease-in-out infinite;
              animation: fadepoints 17s ease-in-out infinite;
      -webkit-animation-delay: 3104ms;
              animation-delay: 3104ms; }
    .background-dot-highlight[data-index="20"] {
      left: 351px;
      top: 735px;
      -webkit-animation: fadepoints 8s ease-in-out infinite;
              animation: fadepoints 8s ease-in-out infinite;
      -webkit-animation-delay: 1199ms;
              animation-delay: 1199ms; }
    .background-dot-highlight[data-index="21"] {
      left: 287px;
      top: 95px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 1802ms;
              animation-delay: 1802ms; }
    .background-dot-highlight[data-index="22"] {
      left: 543px;
      top: 735px;
      -webkit-animation: fadepoints 25s ease-in-out infinite;
              animation: fadepoints 25s ease-in-out infinite;
      -webkit-animation-delay: 3760ms;
              animation-delay: 3760ms; }
    .background-dot-highlight[data-index="23"] {
      left: 223px;
      top: 479px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 2033ms;
              animation-delay: 2033ms; }
    .background-dot-highlight[data-index="24"] {
      left: 159px;
      top: 799px;
      -webkit-animation: fadepoints 11s ease-in-out infinite;
              animation: fadepoints 11s ease-in-out infinite;
      -webkit-animation-delay: 1495ms;
              animation-delay: 1495ms; }
    .background-dot-highlight[data-index="25"] {
      left: 95px;
      top: 671px;
      -webkit-animation: fadepoints 14s ease-in-out infinite;
              animation: fadepoints 14s ease-in-out infinite;
      -webkit-animation-delay: 3944ms;
              animation-delay: 3944ms; }
    .background-dot-highlight[data-index="26"] {
      left: 543px;
      top: 735px;
      -webkit-animation: fadepoints 18s ease-in-out infinite;
              animation: fadepoints 18s ease-in-out infinite;
      -webkit-animation-delay: 3624ms;
              animation-delay: 3624ms; }
    .background-dot-highlight[data-index="27"] {
      left: 1055px;
      top: 95px;
      -webkit-animation: fadepoints 24s ease-in-out infinite;
              animation: fadepoints 24s ease-in-out infinite;
      -webkit-animation-delay: 309ms;
              animation-delay: 309ms; }
    .background-dot-highlight[data-index="28"] {
      left: 351px;
      top: 223px;
      -webkit-animation: fadepoints 23s ease-in-out infinite;
              animation: fadepoints 23s ease-in-out infinite;
      -webkit-animation-delay: 1030ms;
              animation-delay: 1030ms; }
    .background-dot-highlight[data-index="29"] {
      left: 351px;
      top: 543px;
      -webkit-animation: fadepoints 20s ease-in-out infinite;
              animation: fadepoints 20s ease-in-out infinite;
      -webkit-animation-delay: 1915ms;
              animation-delay: 1915ms; }
    .background-dot-highlight[data-index="30"] {
      left: 543px;
      top: 223px;
      -webkit-animation: fadepoints 17s ease-in-out infinite;
              animation: fadepoints 17s ease-in-out infinite;
      -webkit-animation-delay: 1322ms;
              animation-delay: 1322ms; }
    .background-dot-highlight[data-index="31"] {
      left: 415px;
      top: 415px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 4334ms;
              animation-delay: 4334ms; }
    .background-dot-highlight[data-index="32"] {
      left: 223px;
      top: 479px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 3744ms;
              animation-delay: 3744ms; }
    .background-dot-highlight[data-index="33"] {
      left: 735px;
      top: 735px;
      -webkit-animation: fadepoints 12s ease-in-out infinite;
              animation: fadepoints 12s ease-in-out infinite;
      -webkit-animation-delay: 4553ms;
              animation-delay: 4553ms; }
    .background-dot-highlight[data-index="34"] {
      left: 223px;
      top: 351px;
      -webkit-animation: fadepoints 7s ease-in-out infinite;
              animation: fadepoints 7s ease-in-out infinite;
      -webkit-animation-delay: 2126ms;
              animation-delay: 2126ms; }
    .background-dot-highlight[data-index="35"] {
      left: 159px;
      top: 607px;
      -webkit-animation: fadepoints 13s ease-in-out infinite;
              animation: fadepoints 13s ease-in-out infinite;
      -webkit-animation-delay: 236ms;
              animation-delay: 236ms; }
  .background-square {
    fill: none;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 3px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: outline 30s linear infinite;
            animation: outline 30s linear infinite;
    opacity: 1; }
    .background-square-container {
      position: absolute;
      left: 31px;
      top: 31px;
      -webkit-animation: movebox 160s linear infinite;
              animation: movebox 160s linear infinite; }
    .background-square-filled {
      position: absolute;
      fill: rgba(255, 255, 255, 0.3); }
      .background-square-filled[data-index="0"] {
        left: 1055px;
        top: 159px;
        opacity: 0.23;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="1"] {
        left: 1055px;
        top: 607px;
        opacity: 0.48;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="2"] {
        left: 351px;
        top: 415px;
        opacity: 0.3;
        -webkit-animation: fadeboxes 12s ease-out alternate infinite;
                animation: fadeboxes 12s ease-out alternate infinite; }
      .background-square-filled[data-index="3"] {
        left: 671px;
        top: 607px;
        opacity: 0.43;
        -webkit-animation: fadeboxes 6s ease-out alternate infinite;
                animation: fadeboxes 6s ease-out alternate infinite; }
      .background-square-filled[data-index="4"] {
        left: 415px;
        top: 351px;
        opacity: 0.37;
        -webkit-animation: fadeboxes 15s ease-out alternate infinite;
                animation: fadeboxes 15s ease-out alternate infinite; }
      .background-square-filled[data-index="5"] {
        left: 543px;
        top: 159px;
        opacity: 0.46;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="6"] {
        left: 799px;
        top: 287px;
        opacity: 0.23;
        -webkit-animation: fadeboxes 10s ease-out alternate infinite;
                animation: fadeboxes 10s ease-out alternate infinite; }
      .background-square-filled[data-index="7"] {
        left: 735px;
        top: 607px;
        opacity: 0.25;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="8"] {
        left: 927px;
        top: 735px;
        opacity: 0.48;
        -webkit-animation: fadeboxes 11s ease-out alternate infinite;
                animation: fadeboxes 11s ease-out alternate infinite; }
      .background-square-filled[data-index="9"] {
        left: 1055px;
        top: 351px;
        opacity: 0.21;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="10"] {
        left: 991px;
        top: 607px;
        opacity: 0.55;
        -webkit-animation: fadeboxes 23s ease-out alternate infinite;
                animation: fadeboxes 23s ease-out alternate infinite; }
      .background-square-filled[data-index="11"] {
        left: 1055px;
        top: 799px;
        opacity: 0.31;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="12"] {
        left: 223px;
        top: 607px;
        opacity: 0.09;
        -webkit-animation: fadeboxes 15s ease-out alternate infinite;
                animation: fadeboxes 15s ease-out alternate infinite; }
      .background-square-filled[data-index="13"] {
        left: 799px;
        top: 287px;
        opacity: 0.28;
        -webkit-animation: fadeboxes 13s ease-out alternate infinite;
                animation: fadeboxes 13s ease-out alternate infinite; }
      .background-square-filled[data-index="14"] {
        left: 607px;
        top: 799px;
        opacity: 0.44;
        -webkit-animation: fadeboxes 24s ease-out alternate infinite;
                animation: fadeboxes 24s ease-out alternate infinite; }
      .background-square-filled[data-index="15"] {
        left: 991px;
        top: 479px;
        opacity: 0.46;
        -webkit-animation: fadeboxes 18s ease-out alternate infinite;
                animation: fadeboxes 18s ease-out alternate infinite; }
      .background-square-filled[data-index="16"] {
        left: 607px;
        top: 543px;
        opacity: 0.09;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="17"] {
        left: 671px;
        top: 607px;
        opacity: 0.03;
        -webkit-animation: fadeboxes 17s ease-out alternate infinite;
                animation: fadeboxes 17s ease-out alternate infinite; }
      .background-square-filled[data-index="18"] {
        left: 479px;
        top: 671px;
        opacity: 0.37;
        -webkit-animation: fadeboxes 25s ease-out alternate infinite;
                animation: fadeboxes 25s ease-out alternate infinite; }
      .background-square-filled[data-index="19"] {
        left: 287px;
        top: 799px;
        opacity: 0.21;
        -webkit-animation: fadeboxes 10s ease-out alternate infinite;
                animation: fadeboxes 10s ease-out alternate infinite; }
      .background-square-filled[data-index="20"] {
        left: 95px;
        top: 415px;
        opacity: 0.28;
        -webkit-animation: fadeboxes 23s ease-out alternate infinite;
                animation: fadeboxes 23s ease-out alternate infinite; }
      .background-square-filled[data-index="21"] {
        left: 159px;
        top: 799px;
        opacity: 0.57;
        -webkit-animation: fadeboxes 21s ease-out alternate infinite;
                animation: fadeboxes 21s ease-out alternate infinite; }
      .background-square-filled[data-index="22"] {
        left: 223px;
        top: 415px;
        opacity: 0.18;
        -webkit-animation: fadeboxes 8s ease-out alternate infinite;
                animation: fadeboxes 8s ease-out alternate infinite; }
      .background-square-filled[data-index="23"] {
        left: 415px;
        top: 287px;
        opacity: 0.02;
        -webkit-animation: fadeboxes 19s ease-out alternate infinite;
                animation: fadeboxes 19s ease-out alternate infinite; }
      .background-square-filled[data-index="24"] {
        left: 735px;
        top: 543px;
        opacity: 0.7;
        -webkit-animation: fadeboxes 6s ease-out alternate infinite;
                animation: fadeboxes 6s ease-out alternate infinite; }
      .background-square-filled[data-index="25"] {
        left: 543px;
        top: 415px;
        opacity: 0.31;
        -webkit-animation: fadeboxes 22s ease-out alternate infinite;
                animation: fadeboxes 22s ease-out alternate infinite; }

body {
  background-color: #00FF00;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Amatic SC', sans-serif; }
