@import 'lib/_reset';

@import "lib/_utilities";

@import "lib/_colors";
@import "lib/_typography";

@import "components/_window";
@import "components/_background";
@import "components/_text";
@import "components/_visualizer";

body {
    background-color: getProperty(overlay, chromakey);
    color: getProperty(overlay, text-color);
    font-family: getProperty(overlay, font-family);
}
